h1
{
    color: cadetblue;
    background-color: khaki;
    font-family: sans-serif;
}
p{
    color: lawngreen;
    font-size: medium;
    font-style: italic;
    font-family: cursive;
}
button{
    color: firebrick;
    background-color: mediumslateblue;
    border: lightslategray;
}